---
interface Props{

}
---

<section id="sobre-mi" class="py-24 bg-zinc-900">
    <div class="container mx-auto px-6">
    <h2 class="text-5xl font-bold mb-12 text-center">
        <span
            class="bg-gradient-to-r from-orange-400 to-orange-600 bg-clip-text text-transparent"
        >Sobre Mí</span>
    </h2>

    <div class="max-w-4xl mx-auto">
        <div
            class="bg-zinc-950 rounded-2xl p-8 md:p-12 border border-zinc-800 hover:border-orange-600 transition-all duration-300"
        >
        <div class="flex flex-col md:flex-row gap-8 items-center">
            <div
                class="w-48 h-48 flex items-center justify-center text-6xl font-bold flex-shrink-0"
            >
                <img class="" src="public/images/Gerardo_Salinas_Aplícano.jpg" alt="">
            </div>

            <div class="flex-1">
            <p class="text-lg text-gray-300 mb-4">
                Soy un desarrollador apasionado por crear soluciones creativas y
                eficientes. Con experiencia en tecnologías modernas, me
                especializo en construir aplicaciones web intuitivas.
            </p>
            <p class="text-lg text-gray-300 mb-6">
                Enfocado en brindar una experiencia de usuario agradable a traves de diseños innovadores
            </p>

            <div class="flex flex-wrap gap-3">
                <span
                    class="px-4 py-2 bg-orange-600 bg-opacity-20 text-white rounded-full border border-orange-600"
                >JavaScript</span>

                <span
                    class="px-4 py-2 bg-orange-600 bg-opacity-20 text-white rounded-full border border-orange-600"
                >React</span>

                <span
                    class="px-4 py-2 bg-orange-600 bg-opacity-20 text-white rounded-full border border-orange-600"
                >Tailwind CSS</span>

                <span
                    class="px-4 py-2 bg-orange-600 bg-opacity-20 text-white rounded-full border border-orange-600"
                >Node.js</span>

            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>
